{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>最新挑戰</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
   <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulletinboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/isotope.css' %}"/>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.js' %}"></script>
    <script src="{% static 'js/jquery.equalheights.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header id="header">
        <div id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <div class="brand put-left">
                            <h1>
                                <a href="index.html">
                                    <img src="{% static 'images/logo.png' %}" alt="Logo"/>
                                </a>
                            </h1>
                        </div>
                        <nav class="nav put-right">
                            <ul class="sf-menu">
                                <li><a href="index">首頁</a></li>
                                <li><a href="videoForChallenge">發燒影片</a></li>
                                <li class="current"><a href="bulletinboard">最新挑戰</a></li>
                                <li><a href="rank">風雲榜</a></li>
                                {% if request.user.is_authenticated %}
                            <li class="current"><br><img class="circular--portrait" src="{% static 'images/head.png' %}" >
                            <!-- <h3>{{ user.get_username }}</h3> -->
                            <h3>{{request.user}}</h3>
                                <ul>
                                    <li><a href="makeChallenge">建立新挑戰</a></li>
                                    <li><a href="challenge">挑戰</a></li>
                                    <li><a href="gauntlet">戰帖</a></li>
                                    <li><a href="logout">登出</a></li>
                                </ul>
                            </li>
                            {% else %}   
                            <li><a id="user-name" href="login">Login</a></li>
                            {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <div class="container">
        <div class="row wrap_11 wrap_20">
            <div class="grid_12">
                <div class="text_7 color_2">
                    <ul id="filters">
                    <h2 class="header_2 indent_3"><a href="#" data-filter="new">最新挑戰</a>|<a href="#" data-filter="hot">熱門挑戰</a></h2>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_1 wrap_17">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="isotope row"><!--div for elements-->
                    <!--end element item-->
                    <!--div for elements-->
                    {% for c in ch2 %}
                        <div class="element-item grid_9 new" >
                            <div class="box_6">
                            <div class="put-left">
                                <div class="caption">
                                    <img src="{% static 'images/image.png' %}" alt="Image 1"/>
                                    <p class="text_2 color_1">
                                        {{ c.title }}<BR><BR>
                                        {{ c.stTime }}<br><br>
                                    </p>
                                </div>
                            </div>
                            <div class="caption">
                                <h3 class="text_2 color_2">熱門度: {{ c.mancount }}</h3>
                                <p class="text_3">
                                    {{ c.detail }}
                                </p><br>
                                {% if request.user.is_authenticated %}
                                <span class="left_btn"><a class="btn_2" id="want_01" href="join&{{c.username}}&{{c.urlnum}}">
                                我要挑戰</a></span>
                                {% else %}
                                <span class="left_btn"><a class="btn_2" href="login">我要挑戰</a></span>
                                {% endif %} 
                                <span class="right_btn"><a class="btn_2" href="detailPublicChallenge&{{ c.username }}&{{ c.urlnum }}">更多資訊</a></span>  
                            </div>
                            <div class="clearfix"></div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for c in chman %}
                        <div class="element-item grid_9 hot" >
                            <div class="box_6">
                            <div class="put-left">
                                <div class="caption">
                                    <img src="{% static 'images/image.png' %}" alt="Image 1"/>
                                    <p class="text_2 color_1">
                                        {{ c.title }}<BR><BR>
                                        {{ c.stTime }}<br><br>
                                    </p>
                                </div>
                            </div>
                            <div class="caption">
                                <h3 class="text_2 color_2">熱門度: {{ c.mancount }}</h3>
                                <p class="text_3">
                                    {{ c.detail }}
                                </p><br>
                                {% if request.user.is_authenticated %}
                                <span class="left_btn"><a class="btn_2" id="want_01" href="join&{{c.username}}&{{c.urlnum}}">
                                我要挑戰</a></span>
                                {% else %}
                                <span class="left_btn"><a class="btn_2" href="login">我要挑戰</a></span>
                                {% endif %} 
                                <span class="right_btn"><a class="btn_2" href="detailPublicChallenge&{{ c.username }}&{{ c.urlnum }}">更多資訊</a></span>  
                            </div>
                            <div class="clearfix"></div>
                            </div>
                        </div>
                    {% endfor %}
                    <!--end element item-->
                    </div> 
                </div>
            </div>
        </div>
    </div>
                        <!-- {% for c in ch %}
                        <div class="box_6">
                            <div class="put-left">
                                <div class="caption">
                                    <img src="{% static 'images/image.png' %}" alt="Image 1"/>
                                    <p class="text_2 color_1">
                                        {{ c.title }}<BR><BR>
                                        {{ c.startTime }}
                                    </p>
                                </div>
                            </div>
                            <div class="caption">
                                <h3 class="text_2 color_2">熱門度: {{ c.mancount }}</h3>
                                <p class="text_3">
                                    {{ c.detail }}
                                </p><br>
                                {% if request.user.is_authenticated %}
                                <span class="left_btn"><a class="btn_2" id="want_01" href="join&{{ch.username}}&{{ch.urlnum}}">
                                我要挑戰</a></span>
                                {% else %}
                                <span class="left_btn"><a class="btn_2" id="want_01" href="login">我要挑戰</a></span>
                                {% endif %} 
                                <span class="right_btn"><a class="btn_2" href="detailPublicChallenge&{{ c.username }}&{{ c.urlnum }}">更多資訊</a></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {% endfor %} -->
                    </div>
                </div>
                
            </div>
        </div>
        
</div>
<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="color_9">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <p class="info text_4 color_4">
                    © <span id="copyright-year"></span> | <a href="#">Exit VII</a> <br/>
                    University of Taipei 
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script>
<script>
    $(document).ready(function(){

        $("#filters h2 a:first-child").click();
        $("#filters h2 a:first-child").trigger('ckick');
        // document.querySelector('a').click();
      
        $("#want_01").click(function(){
            $("#want_01").text(($("#want_01").text() == '挑戰中') ? '我要挑戰' : '挑戰中').fadeIn();
            if($("#want_01").text() == '挑戰中')
                document.getElementById( "want_01" ).style.background = "#249f9c";
            else
                document.getElementById( "want_01" ).style.background = "#f1f045";
        });
         $("#want_02").click(function(){
            $("#want_02").text(($("#want_02").text() == '挑戰中') ? '我要挑戰' : '挑戰中').fadeIn();
            if($("#want_02").text() == '挑戰中')
                document.getElementById( "want_02" ).style.background = "#249f9c";
            else
                document.getElementById( "want_02" ).style.background = "#f1f045";
        });
         $("#want_03").click(function(){
            $("#want_03").text(($("#want_03").text() == '挑戰中') ? '我要挑戰' : '挑戰中').fadeIn();
            if($("#want_03").text() == '挑戰中')
                document.getElementById( "want_03" ).style.background = "#249f9c";
            else
                document.getElementById( "want_03" ).style.background = "#f1f045";
        });
    });
</script>
</body>
</html>