<!DOCTYPE html>
<html lang="en">
<head>
    <title>首頁</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/camera.css"/>
    <link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="js/jquery.equalheights.js"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="js/jquery.mobile.customized.min.js"></script>
    <!--<![endif]-->
    <script src="js/camera.js"></script>
    <script src="js/owl.carousel.js"></script>
    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>
<div class="page">
<!--========================================================
                          HEADER
=========================================================-->
<header id="header">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="brand put-left">
                        <h1>
                            <a href="index.html">
                                <img src="images/logo.png" alt="Logo"/>
                            </a>
                        </h1>
                    </div>
                    <nav class="nav put-right">
                        <ul class="sf-menu">
                            <li><a href="index.html">首頁</a></li>
                            <li><a href="videoForChallenge.html">發燒影片</a></li>
                            <li><a href="bulletinboard.html">最新挑戰</a></li>
                            <li><a href="rank.html">風雲榜</a></li>
                            <li class="current"><br><img class="circular--portrait" src="images/head.png" />
                                <ul>
                                    <li><a href="makechallenge.html">建立新挑戰</a></li>
                                    <li><a href="challenge.html">挑戰</a></li>
                                    <li><a href="gauntlet.html">戰帖</a></li>
                                    <li><a href="#">登出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--========================================================
                          CONTENT
=========================================================-->
<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">
<div class="container">
<br>
</div>
<div class="slider">
      <div class="arrows">
        <a class="previous" href="#">&#xf053;</a>
        <a class="next" href="#">&#xf054;</a>
      </div>
      <div class="slides">
            <div class="slide active white" >
                <h2>30天歌單</h2>
                <p>玩法很簡單，趣味十足<BR>一個月內每天依照題目要求分享一首歌在自己的臉書或其他社交網站上</p>
                <a target="_blank" href="#">更多資訊</a>
            </div>
            <div class="slide white" >
                <h2>用左手化妝</h2>
                <p>Nobody wants to miss out on important events, but sometimes, it’s hard to find the time in another city. Clocks+ lets you set alarms for your favorite cities in a simple and intuitive way.</p>
                <a target="_blank" href="#">更多資訊</a>
            </div>
            <div class="slide white" >
                <h2>背包撞擊</h2>
                <p>Clocks+ wouldn’t be a modern app without Widgets. Your favorite cities appear in the Today View with just a swipe down, for quick glancing, Did we mention that they look awesome, too?</p>
                <a target="_blank" href="#">更多資訊</a>
            </div>
            <div class="slide white" >
                <h2>假人挑戰</h2>
                <p>Clocks+ wouldn’t be a modern app without Widgets. Your favorite cities appear in the Today View with just a swipe down, for quick glancing, Did we mention that they look awesome, too?</p>
                <a target="_blank" href="#">更多資訊</a>
            </div>
            <div class="slide white" >
                <h2>PPAP</h2>
                <p>Clocks+ wouldn’t be a modern app without Widgets. Your favorite cities appear in the Today View with just a swipe down, for quick glancing, Did we mention that they look awesome, too?</p>
                <a target="_blank" href="#">更多資訊</a>
            </div>
        </div>
        <div class="bullets">
        </div>
</div>


<!--Login-->
<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="closes">X</a>
        <iframe src="login.html" width="350px" height="423px" frameborder="0" scrolling="no"></iframe>
    </div>    
</div>

<div class="container">
    <div class="row wrap_9 wrap_4 wrap_10">
        <div class="grid_12">
            <div class="header_1 wrap_3 color_3">
                更多挑戰，等你創造/發掘
            </div>
        </div>
    </div>
</div>

</section>
</div>
<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="color_9">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <p class="info text_4 color_4">
                    © <span id="copyright-year"></span> | <a href="#">Exit VII</a> <br/>
                    University of Taipei 
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="js/script.js"></script>
<script>
var $slider = $(".slider"), $bullets = $(".bullets");
        function calculateHeight(){
            var height = $(".slide.active").outerHeight();
            $slider.height(height);
        }

        $(window).resize(function() {
            calculateHeight();
            clearTimeout($.data(this, 'resizeTimer'));
        });
        
        function resetSlides(){
            $(".slide.inactive").removeClass("inactiveRight").removeClass("inactiveLeft");
        }

        function gotoSlide($activeSlide, $slide, className){
             $activeSlide.removeClass("active").addClass("inactive "+className);
             $slide.removeClass("inactive").addClass("active");
             calculateHeight();
             resetBullets();
             setTimeout(resetSlides, 300);
        }

        $(".next").on("click", function(){
             var $activeSlide = $(".slide.active"),
                 $nextSlide = $activeSlide.next(".slide").length != 0 ? $activeSlide.next(".slide") : $(".slide:first-child");
                 console.log($nextSlide);
                 gotoSlide($activeSlide, $nextSlide, "inactiveLeft");
        });
        $(".previous").on("click",  function(){
             var $activeSlide = $(".slide.active"),
                 $prevSlide = $activeSlide.prev(".slide").length != 0 ? $activeSlide.prev(".slide") : $(".slide:last-child");

                 gotoSlide($activeSlide, $prevSlide, "inactiveRight");
        });
        $(document).on("click", ".bullet", function(){
            if($(this).hasClass("active")){
                return;
            }
            var $activeSlide = $(".slide.active");
            var currentIndex = $activeSlide.index();
            var targetIndex = $(this).index();
            console.log(currentIndex, targetIndex);
            var $theSlide = $(".slide:nth-child("+(targetIndex+1)+")");
            gotoSlide($activeSlide, $theSlide, currentIndex > targetIndex ? "inactiveRight" : "inactiveLeft");
        })
        function addBullets(){
            var total = $(".slide").length, index = $(".slide.active").index();
            for (var i=0; i < total; i++){
                var $bullet = $("<div>").addClass("bullet");
                if(i==index){
                    $bullet.addClass("active"); 
                }
                $bullets.append($bullet);
            }
        }
        function resetBullets(){
            $(".bullet.active").removeClass("active");
            var index = $(".slide.active").index()+1;
            console.log(index);
            $(".bullet:nth-child("+index+")").addClass("active");
        }
        addBullets();
        calculateHeight();
</script>  

</body>
</html>