{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>風雲榜</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/camera.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/rank.css' %}"/>
    
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.js' %}"></script>
    <script src="{% static 'js/jquery.equalheights.js' %}"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="{% static 'js/jquery.mobile.customized.min.js' %}"></script>
    <!--<![endif]-->
    <script src="{% static 'js/camera.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>
<div class="page">
<!--========================================================
                          HEADER
=========================================================-->
<header id="header">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="brand put-left">
                        <h1>
                            <a href="index.html">
                                <img src="{% static 'images/logo.png' %}" alt="Logo"/>
                            </a>
                        </h1>
                    </div>
                    <nav class="nav put-right">
                        <ul class="sf-menu">
                            <li><a href="index">首頁</a></li>
                            <li ><a href="videoForChallenge">發燒影片</a></li>
                            <li><a href="bulletinboard">最新挑戰</a></li>
                            <li class="current"><a href="rank">風雲榜</a></li>
                            {% if request.user.is_authenticated %}
                            <li class="current"><br><img class="circular--portrait" src="{% static 'images/head.png' %}" >
                            <h3>{{ user.get_username }}</h3>
                                <ul>
                                    <li><a href="makeChallenge">建立新挑戰</a></li>
                                    <li><a href="challenge">挑戰</a></li>
                                    <li><a href="gauntlet">戰帖</a></li>
                                    <li><a href="logout">登出</a></li>
                                </ul>
                            </li>
                            {% else %}   
                            <li><a id="user-name" href="login">Login</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--========================================================
                          CONTENT
=========================================================-->
<section id="content">

<div class="container">
    <br>
</div>


<div class="container">
<div class="wrapper1">
  <div class="table1">
    
    <div class="row1 header green">
      <div class="cell1">
        排名
      </div>
      <div class="cell2">
        挑戰者(ID)
      </div>
      <div class="cell3">
        積分
      </div>
    </div>
    
    <div class="row1">
      <div class="cell1">
        #1
      </div>
      <div class="cell2">
        等雨說放棄
      </div>
      <div class="cell3">
        999
      </div>
    </div>

    <div class="row1">
      <div class="cell1">
        #2
      </div>
      <div class="cell2">
        正咩會長
      </div>
      <div class="cell3">
        777
      </div>
    </div>
    
    <div class="row1">
      <div class="cell1">
        #3
      </div>
      <div class="cell2">
        情歌王子-阿謙
      </div>
      <div class="cell3">
        579
      </div>
    </div>
    
    <div class="row1">
      <div class="cell1">
        #4
      </div>
      <div class="cell2">
        豪神
      </div>
      <div class="cell3">
        500
      </div>
    </div>

    <div class="row1">
      <div class="cell1">
        #5
      </div>
      <div class="cell2">
        堯堯
      </div>
      <div class="cell3">
        467
      </div>
    </div>

    <div class="row1">
      <div class="cell1">
        #6
      </div>
      <div class="cell2">
        資科強森
      </div>
      <div class="cell3">
        397
      </div>
    </div>

    <div class="row1">
      <div class="cell1">
        #7
      </div>
      <div class="cell2">
        東移移東
      </div>
      <div class="cell3">
        278
      </div>
    </div>

    <div class="row1">
      <div class="cell1">
        #8
      </div>
      <div class="cell2">
        滑板鞋摩擦摩擦最時尚
      </div>
      <div class="cell3">
        177
      </div>
    </div>

    <div class="row1">
      <div class="cell1">
        #9
      </div>
      <div class="cell2">
        YHF狼少年
      </div>
      <div class="cell3">
        123
      </div>
    </div>
      
      <div class="row1">
      <div class="cell1">
        #10
      </div>
      <div class="cell2">
        丁丁
      </div>
      <div class="cell3">
        87
      </div>
    </div>


    </div>
    
  </div>
  
  
</div>
</div>

<!--Login-->
<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="closes">X</a>
        <iframe src="login.html" width="350px" height="423px" frameborder="0" scrolling="no"></iframe>
    </div>    
</div>

</section>
</div>
<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="color_9">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <p class="info text_4 color_4">
                    © <span id="copyright-year"></span> | <a href="#">Exit VII</a> <br/>
                    University of Taipei 
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>