{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>挑戰影片</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/isotope.css' %}"/>
    <!--==========================================================-->
    <!--new File new link here!!!!!!!!!!!!!!!!!!!-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/readMorePage.css' %}">
    <!--==========================================================-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.js' %}"></script>
    <script src="{% static 'js/jquery.equalheights.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>
<div class="page">
<!--========================================================
                          HEADER
=========================================================-->
<header id="header">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="brand put-left">
                        <h1>
                            <a href="index.html">
                                <img src="{% static 'images/logo.png' %}" alt="Logo"/>
                            </a>
                        </h1>
                    </div>
                    <nav class="nav put-right">
                        <ul class="sf-menu">
                            <li><a href="index">首頁</a></li>
                            <li ><a href="videoForChallenge">發燒影片</a></li>
                            <li><a href="bulletinboard">最新挑戰</a></li>
                            <li><a href="bulletinboard">公告板</a></li>
                            <li><a href="rank">風雲榜</a></li>
                            {% if request.user.is_authenticated %}
                            <li class="current"><br><img class="circular--portrait" src="{% static 'images/head.png' %}" >
                            <h3>{{ user.get_username }}</h3>
                                <ul>
                                    <li><a href="makeChallenge">建立新挑戰</a></li>
                                    <li><a href="challenge">挑戰</a></li>
                                    <li><a href="gauntlet">戰帖</a></li>
                                    <li><a href="logout">登出</a></li>
                                </ul>
                            </li>
                            {% else %}   
                            <li><a id="user-name" href="login">Login</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--========================================================
                          CONTENT
=========================================================-->
<!-- <section id="content">
    <div id="container">
    <div>
        <h3>{{ de.title }}</h3>
    </div>

    <section>
        <div   class="proof-seg">
        <iframe src="https://www.youtube.com/embed/l8HhbxuSXRw" width="960" height="540" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
    </section>
  
  <div class="one-half">
    <h2>One half</h2>
    <p>{{ de.detail }}</p>
  </div> -->

<section id="content">
    <div class="mycontainer">
        <div class="challenge-title">
            {{ de.title }}
        </div>
        <section class="proof-section">
            <div class="proof-seg">
                <iframe src="https://www.youtube.com/embed/l8HhbxuSXRw" frameborder="0"></iframe>
            </div>
        </section>
        <div class="one-half" id="description">
            <span class="descrip-title">詳細內容：</span>
            <p>
                {{ de.detail }}
            </p>
        </div>
    </div>
    <br>

    <div class="mycontainer">
    <p id="message-board">留言板：</p>
        <div>
            <textarea type="text" class="message-type" placeholder=""></textarea>
        </div>
    </div>


    <div class="container">
        <div class="row wrap_9 wrap_4 wrap_10">
            
        </div>
    </div>
</section>
</div>
<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="color_9">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <p class="info text_4 color_4">
                    © <span id="copyright-year"></span> | <a href="#">Exit VII</a> <br/>
                    University of Taipei 
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>